<div>
  <p>Hi Vendor</p>
  <br />
  <br />
  <p>
    The item
    <b><%=data.component.name %>, with product id: <%=data.component._id %></b>
    is out of stock.Please provide 100 units of this item
  </p>
  <br />
  <p>Last order placed by <%= data.user.name%></p>
  <br />
  <p>Thanks!</p>
</div>
