@import "~antd/dist/antd.css";
* {
  font-family: monospace;
}
.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.ant-card-head-title {
  color: white;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.item-out-of-stock {
  background-color: red !important;
}
